/* Reset básico para remover margens e preenchimentos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

:root {
  --primary-color: #26ff00; /* Verde neon principal */
  --secondary-color: #32e514;
  --accent-color: #1fcc00;
  --background-color: #101010;
  --background-color2: #1a1a1a;
  --background-color3: #272727;
  --text-color: #e7ffea;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.header {
  width: 100%;
  background: var(--background-color2);
  padding: 15px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.main-content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.card {
  background: var(--background-color3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 255, 0, 0.3);
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.footer {
  width: 100%;
  background: var(--background-color2);
  padding: 10px 0;
  text-align: center;
  font-size: 1rem;
  color: var(--text-color);
}

/* Responsividade */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
}
